<header>
  <div class="mx-auto max-w-screen-sm pt-8 pb-6">
    <div class="flex flex-wrap justify-between gap-y-2">
      <a href="/" target="_self">
        <div class="font-semibold">skyfall.dev</div>
      </a>
      <nav class="flex items-center gap-1 text-sm">
        <a href="/posts">posts</a>
        <span>
          {`/`}
        </span>
        <a href="/projects">projects</a>
      </nav>
    </div>
  </div>
</header>
