---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mahad's website">
  <article class="prose dark:prose-invert">
    <h1>hi! i'm mahad, a 16 year old student and developer from the uk</h1>
    <p>
      i love making cool experiences and technology that people enjoy using.
    </p>
    <p>
      i'm also a proud member of <a href="https://hackclub.com">hack club</a> and
      help run the newspaper team there! that includes building infra, working with
      the community to improve their time at hack club, and writing newsletters to
      hack clubbers to help promote their projects.
    </p>
    <b id="contact">contact</b>
    <p>
      if you'd like to get in touch or just say hello, here's a few ways to do
      so:
    </p>
    <ul>
      <li>
        <b>with email: </b><a href="mailto:contact@skyfall.dev"
          >contact@skyfall.dev</a
        >
      </li>
      <li><b>on x:</b> <a href="https://x.com/skyfall_ggs">@skyfall_ggs</a></li>
      <li>
        <b>on discord:</b>
        <a href="https://discord.com/users/571393955367878656"
          >@skyfallpowered</a
        >
      </li>
      <li>
        <b>on github:</b>
        <a href="https://github.com/skyfallwastaken">@skyfallwastaken</a>
      </li>
    </ul>
    <hr />
    <!-- FIXME: when we switch this over to the main domain, update this -->
    <p>
      looking for the old version of the site? it's up at <a
        href="https://skyfall.dev"
        target="_blank">skyfall.dev</a
      >
    </p>
  </article>
</Layout>
